<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="login">
          <a href="register">
            <img src="/static/img/black.png" class="imglog" alt="">
          </a>
    
        </div>
        <div class="container">
          
          <nav>
            <ul>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Услуги</a></li>
              <li><a href="#">О нас</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </nav>
    
        </div>
      </header>
    
      <section class="hero">
        <div class="container">
          <h1>Добро пожаловать на наш сайт!</h1>
          <p>Мы предоставляем лучшие услуги для вашего бизнеса</p>
          <a href="#" class="cta-button">Связаться с нами</a>
        </div>
      </section>
      <hr>
      <section class="services">
        <div class="container">
          <h2>Наши услуги</h2>
          <div class="service-item">
            <div class="item__content">
              <img src="/static/img/oblacko.webp" class="image"></img>
              <div class="textwrap">
                <div class="prod__name">Услуга 1</div>
                <div class="prod__descript">Описание услуги 1</div>
              </div>
            </div>

          </div>
          <div class="service-item">
            <div class="item__content">
              <img src="/static/img/oblacko.webp" class="image"></img>

              <div class="textwrap">
                <div class="prod__name">Услуга 2</div>
                <div class="prod__descript">Описание услуги 2</div>
              </div>
            </div>
          </div>
          <div class="service-item">
            <div class="item__content">
              <img src="/static/img/oblacko.webp" class="image"></img>

              <div class="textwrap">
                <div class="prod__name">Услуга 3</div>
                <div class="prod__descript">Описание услуги 3</div>
              </div>
            </div>
          </div>
          <div class="service-item">
            <div class="item__content">
              <img src="/static/img/oblacko.webp" class="image"></img>

              <div class="textwrap">
                <div class="prod__name">Услуга 4</div>
                <div class="prod__descript">Описание услуги 4</div>
              </div>
            </div>
          </div>      
          <div class="service-item">
            <div class="item__content">
              <img src="/static/img/oblacko.webp" class="image"></img>

              <div class="textwrap">
                <div class="prod__name">Услуга 5</div>
                <div class="prod__descript">Описание услуги 5</div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html
